.Breadcrumb {
    border-bottom: 1px solid var(--hairline-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.Button {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid var(--hairline-color);
}

.Button:hover {
    cursor: pointer;
}

.Body {
    position: absolute;
    top: calc(65px + 40px);
    height: calc(100dvh - 65px - 64px - 40px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 64px;
    width: calc(256px - 64px);
    border-right: 1px solid var(--hairline-color);
    padding: 32px 0px;
    padding-right: 32px;
    overflow-y: auto;
    background-color: var(--primary-color);
}
