.Breadcrumb {
    border-bottom: 1px solid var(--hairline-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    height: 32px;
}

.Button {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid var(--hairline-color);
}

.Button:hover {
    cursor: pointer;
}

.Body {
    position: absolute;
    top: calc(65px + 32px);
    height: calc(100dvh - 65px - 64px - 32px - 1px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 64px;
    width: auto;
    border-right: 1px solid var(--hairline-color);
    border-top: 1px solid var(--hairline-color);
    padding: 32px 0px;
    padding-right: 32px;
    overflow-y: auto;
    background-color: var(--primary-color);
    left: 0px;
}

@media (max-width: 768px) {
    .Body {
        padding-left: 32px;
    }
}

@media (min-width: 769px) and (max-width: 1536px) {
    .Body {
        padding-left: 64px;
    }
}

@media (min-width: 1537px) {
    .Body {
        padding-left: calc(64px + calc((100% - 1537px) / 2));
    }
}
