.Button {
    text-decoration: none;
    font-weight: 500;
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 8px;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.Button:hover {
    transform: scale(1.05);
}
