.Input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.Input label {
    font-size: 14px;
    font-weight: 600;
}

.Input input {
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid var(--neutral);
}

.Input input:focus {
    outline: 2px solid var(--neutral);
}

.Input input[type='submit'] {
    margin-top: 8px;
    font-weight: 500;
    background-color: var(--accent);
    padding: 8px;
    border-radius: 10px;
    transition: transform 0.5s ease;
    border: 1px solid var(--primary);
}

.Input input[type='submit']:hover {
    transform: scale(1.05);
    cursor: pointer;
}
